ol{
  list-style: none;
}

#box-covid {	
  width:300px;
  border-top:1px solid white;
  border-left:1px solid white;
  border-right:1px solid white;
  border-bottom:1px solid white;
  padding :25px;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height:200px;
  background-color: rgb(0,0,0);
  
  color:white;
  float:left;
  border-radius: 20px;
  text-transform:uppercase;
  text-align: center;
  font-size:15px;
  }

.some {
  list-style-type: none;
  padding: 15px;
  width: 13%;
  background-color:black;
  position: fixed;
  height: 100%;
  font-size: 16px;
  overflow: auto;
}

li a {
  display: block;
  color:white;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  text-decoration: none
}
.res{
	left:40%;
	top:30%;
	position: absolute;
	text-transform: uppercase;


}


#box-tech {   width:300px; 
  border-top:1px solid rgba(190, 106, 255,1); 
  border-left:1px solid rgba(190, 106, 255,1);
  border-right:1px solid rgba(190, 106, 255,1); 
  border-bottom:1px solid rgba(190, 106, 255,1); 
  padding :20px;
  position: relative; 
  margin:25px; 
  float:left; 
  height:450px;
  background-color:black; 
  border-radius:10px;
  overflow:hidden;


}


#box-sports {  
  width:300px;
  border-top:1px solid rgba(102, 102, 255,1);
  border-left:1px solid rgba(102, 102, 255,1);
  border-right:1px solid rgba(102, 102, 255,1);
  border-bottom:1px solid rgba(102, 102, 255,1);
  padding :20px;
  position: relative;
  margin:25px;
  float:left;
  height:450px;
  background-color:black;
  overflow: hidden;
  border-radius: 10px;
  
  }
#box-world {	
		width:300px;
		border-top:1px solid rgba(231, 52, 5 ,1);
		border-left:1px solid rgba(231, 52, 5 ,1);
		border-right:1px solid rgba(231, 52, 5 ,1);
		border-bottom:1px solid rgba(231, 52, 5 ,1);
		padding :20px;
		position: relative;
		margin:25px;
		float:left;
		height:450px;
		background-color:black;
		overflow: hidden;
		border-radius: 10px;
		
		}


li {
  background-color: rgb(0, 0, 0);
  color: white;
  text-decoration: none;
}
#city{
	color:rgb(15, 119, 192);
	font-size:16px;
}
#temp{
	color:rgb(40, 156, 129);
	font-size:16px;
}
#pres{
	color:rgb(165, 201, 34);
	font-size:16px;
}
#hum{
	color:rgb(201, 187, 34);
	font-size:16px;
}
#desc{
	color:rgb(201, 81, 34);
	font-size:16px;
}
#box {   width:300px; 
        border-top:1px solid rgb(21, 111, 214); 
        border-left:1px solid rgb(21, 111, 214); 
        border-right:1px solid rgb(21, 111, 214); 
        border-bottom:1px solid rgb(21, 111, 214); 
        padding :20px;
        position: relative; 
        margin:25px; 
        float:left; 
        height:450px;
        background-color:black; 
        border-radius:10px;
        overflow:hidden;

    
    }



#box:hover > *:not(.head){
  filter:blur(2px);
}

.container-1{
  margin-left:5%;
}

#box:hover:after{
   content: 'READ MORE';
   text-align: center;
}

body{
    align-items: center;
    background-color: black;
    color:rgba(255,255,255,0.8);
    font-size:14px;


  }



.head {
  width:250px;
  background-color: black;
  padding:10px;
  border-radius: 10px;
}
.more:hover{
  text-decoration: none;
  color:white;
}
.loadmore{
  text-align: center;
  margin-bottom: 0%;
  margin-top:2400px;
}
.loadmore:hover{
  color:white;

}
.logo{
  top:51px;
  left:-10px;
  position: fixed;

}
#boxtrend {  
    width:300px;
    border-top:1px solid white;
    border-left:1px solid white;
    border-right:1px solid white;
    border-bottom:1px solid white;
    padding :20px;
    position: relative;
    margin:25px;
    float:left;
    height:450px;
    background-color:black;
    overflow: hidden;
    border-radius: 10px;
    height:190px;
    
    }

    /* Style the search field */
form.example input[type=text] {
  padding: 10px;
  font-size: 12px;
  border: 1px solid grey;
  
  width: 50%;
  background: #f1f1f1;
}

/* Style the submit button */
form.example button {
 
  width: 20%;
  padding: 10px;
  background: rgb(0, 0, 0);
  color: white;
  font-size: 12px;
  border: 1px solid grey;
  
  cursor: pointer;
}
form.example{
  right:0px;
  top:20px;
  position:fixed;
}
form.example button:hover {
  background: #3e3f3f;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}