ul{
 list-style-type: none;
  padding: 15px;
  width: 13%;
  background-color:black;
  position: fixed;
  height: 100%;
  font-size: 16px;
  overflow: auto;
  margin-top:15%;
  text-transform: uppercase;
}


li a {
    background-color:rgba(0,0,0,0.8);
    display: block;
    color:white;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  li a.active {
    background-color: rgba(15, 119, 192,0.7);
    color: white;
    text-decoration: none
  }
  
  li a:hover{
    background-color: #555;
    color: white;
    text-decoration: none;
  }
  